<div class="index-container">  
  <img class="rounded mx-auto d-block" "beer-img" width="400px" src="/images/beer.png" />
  <div class="the-buttons rounded mx-auto d-block">
    <button type="button" class="btn btn-primary btn-lg btn-block"><a class="beer-link" href="/beers">Check the beers</a></button>
  <button type="button" class="btn btn-primary btn-lg btn-block"><a class="beer-link" href="/random-beers">Check a random beer!</a></button>
  </div>
  
</div>